100 ICON "Download_32.ico"
101 ICON "Email 2_32.ico"
102 ICON "Floppy Disk Green_32.ico"
103 ICON "Printer 2_32.ico"
104 ICON "Folder Green_32.ico"
105 ICON "Notepad_32.ico"
106 ICON "Document Blank_32.ico"
107 ICON "Document_32.ico"
108 ICON "Work_32.ico"
109 ICON "Folder Orange_32.ico"
110 ICON "Notepad2_32.ico"
111 ICON "Folder Yellow_32.ico"
112 ICON "Control Panel 1_32.ico"
113 ICON "Search_32.ico"
114 ICON "Home 2_32.ico"
115 ICON "WayBill_32.ico"

200 ICON "Document_32.ico"
201 ICON "Compose Email_32.ico"
202 ICON "Recycle Bin Empty 1_32.ico"
